<div id="reviews" class="block-reviews">
  <span class="section-title without-selection"><%= Spree.t(:reviews) %></span>
  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
    <p class="reviews-none without-selection"><%= Spree.t('no_reviews_available') %></p>
  <% else %>
    <!--<%= render 'spree/shared/rating', :product => @product, :review => 0 %>-->
    <% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).default_approval_filter.preview %>
      <%= render 'spree/shared/review', :review => review %>
    <% end %>
  <% end %>
  <% if !Spree::Reviews::Config[:require_login] || spree_current_user %>

     <div class="review-button-container">
          <%= form_for :review, :method=>"get", :url => new_product_review_path(@product) do |f| %>
              <%= button_tag :class => 'review-submit-button', :id => 'add-to-cart-button', :type => :submit do %>
                  <%= Spree.t(:write_your_own_review) %>
              <% end %>
          <% end %>
      </div>
  <% end %>
</div>
